# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Ambiente / Secrets
# =========================
.env
credentials.json

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Pastas específicas
# =========================
exportacoes/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db